html,
body,
.top,
main {
    width: 100%;
    height: 100%;
}
a#menu {
    text-align: right;
}
#map {
    height: 100%;
    width: 100%;
}
#pano {
    width: 300px;
    height: 300px;
}
a#menu svg {
    width: 40px;
    fill: #000;
}
nav,
main {
    padding: 1em;
    box-sizing: border-box;
}
.top {
    box-sizing: border-box;
}
.top {
    width: 100%;
    height: 100%;
}
/*
       * Off-canvas layout styles.
       */
/* Since we're mobile-first, by default, the drawer is hidden. */

nav#drawer {
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* This trasform moves the drawer off canvas. */
    
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    
    transition: transform 0.3s ease;
}
nav#drawer.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


@media (min-width: 600px) {
    /* We open the drawer. */
    nav#drawer {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    nav#drawer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
	 nav#drawer {
		margin-top: 50px;
		 
	 }
	
	
}

/* If there is enough space (> 600px), we keep the drawer open all the time. */

@media (min-width: 600px) {
    /* We use Flexbox on the parent. */
    
    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .top {
        width: auto;
        /* Flex-grow streches the main content to fill all available space. */
        
        flex-grow: 1;
    }
    main {
        width: auto;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        position: relative;
    }	
}

@media screen and (min-width: 304px) and (max-width: 400px) {
    nav#drawer {
        background-color: green;
        margin-top: 240px;
    }
}


@media screen and (min-width: 400px) and (max-width: 435px) {
    nav#drawer {
        margin-top: 240px;
    }
}


@media screen and (min-width: 436px) and (max-width: 500px) {
    nav#drawer {
        margin-top: 200px;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    nav#drawer {
        margin-top: 205px;
    }
}

@media screen and (min-width: 601px) and (max-width: 770px) {
    nav#drawer {
        margin-top: 205px;
    }
}


@media screen and (min-width: 770px) and (max-width: 1000px) {
    nav#drawer {
        margin-top: 120px;
    }
}

/* If there is space (> 800px), we keep the drawer open by default. */

@media (min-width: 600px) {
    main > #menu:after {
        content: 'The drawer stays open if width > 600px';
    }
}

nav.navbar.navbar-inverse.bg-primary {
    z-index: 3;
}
a#menu {
    text-align: right;
}

h1 {
    color: white;
	}
	
li.listone {
   list-style: none;
   font-family: 'Eagle Lake', cursive;
   font-size: 16px;
}

button.btn-outline-primary {
    color: #ecf1ef;
    background-image: none;
    background-color: transparent;
    border-color: #8302d8;
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
}

ul > li.listone {
    opacity: 1;
}

ul:hover > li.listone:not(:hover) {
    opacity: 0.5;
}
	
.topheading{
	font-family: 'Gloria Hallelujah', cursive;
}







